{% extends "index.html" %}

{% block content %}
<hr>
<h1>{{ family.familienaam }}</h1>
<hr>

<h3>
    {{ family.straatnaam }} {{ family.huisnummer }}
    {% if family.huisnummer_toevoeging %}{{ family.huisnummer_toevoeging }}{% endif %},
    {{ family.postcode }} {{ family.plaats }}
</h3>
<hr>

<h2>Familieleden</h2>
{% if members %}
    <ul>
    {% for member in members %}
        <li>
            <a href="{{ url_for('edit_persoon', persoon_id=member.id) }}">
                {{ member.voornaam }} {{ member.achternaam }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Deze familie heeft nog geen geregistreerde leden.</p>
{% endif %}
<hr>

<div class="mb-4"><small><i>Familie aangemaakt door: {{ family.creator.naam }} ({{ family.creator.email }})</i></small></div>

<a href="{{ url_for('list_families') }}" class="btn btn-secondary">Terug naar Families</a>
{% endblock %}